<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="https://github.com/MarisaKirisame/resume">CV</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:marisa@cs.utah.edu">email</a></li>
	        		<li><a href="https://github.com/MarisaKirisame">github.com/MarisaKirisame</a></li>
              <li><a href="https://scholar.google.com/citations?user=YPjuFe8AAAAJ&hl=en">google scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
