<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="https://github.com/MarisaKirisame/resume/blob/master/resume.pdf">CV</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
				<li><a href="mailto:marisa@cs.utah.edu">Email</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			<!--
			<script src="https://utteranc.es/client.js"
		        	repo="MarisaKirisame/MarisaKirisame.github.io"
        			issue-term="pathname"
        			label="Comment"
        			theme="github-light"
        			crossorigin="anonymous"
        			async>
			</script>
                        -->
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/MarisaKirisame">github.com/MarisaKirisame</a></li>
				<li><a href="https://scholar.google.com/citations?user=YPjuFe8AAAAJ&hl=en">google scholar</a></li>
			</ul>
			</footer>
		</body>
	</html>
